/* .auth-wrapper {
    max-width: 400px;
    background: #fff;
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.1);
    text-align: center;
  }
  
  .form-container {
    transition: all 0.6s ease;
  }
  
  .login-active,
  .signup-active {
    width: 100%;
  }
  
  a {
    color: #1a75ff;
    text-decoration: none;
  }
  
  a:hover {
    text-decoration: underline;
  }
   */

   .signin-page {
    min-height: 100vh;
    background-color: #f8f9fa;
  }
  
  .signin-box {
    background: white;
    max-width: 900px;
    margin: auto;
    overflow: hidden;
    
  }
  
  .backtohome {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    font-size: 1.5rem;
    color: #555;
  }
  
  .Right-Side {
    background-color: rgba(22, 4, 48, 1);
  
  }
  
  .Right-Side2 {
    text-align: center;
    height: 100%;
  }
  
  .Right-Side2img img {
    max-width: 120px;
  }
  
  .input-group-text {
    color: white;
  }
  
  a {
    color: #1a75ff;
    text-decoration: none;
  }
  
  a:hover {
    text-decoration: underline;
  }
 
  ::placeholder {
    color: white !important;
    opacity: 1; /* Ensures full visibility */
  }
  
  input:-ms-input-placeholder { /* Internet Explorer */
    color: white !important;
  }
  
  input::-ms-input-placeholder { /* Microsoft Edge */
    color: white !important;
  }
  