.no-hover {
    margin-top: 0px !important;
}
.no-hover:hover {
    border: 1px solid #fff;
    background: transparent !important;
}
.course-button  {
    width: 20%;
    padding: 9px 2px !important;
}
.coursebtn {
    padding: 0 13px;
}