/* .singbgg {
    background-color: rgb(69, 48, 114) !important;
    
    
}
.singbgg:hover {
    background-color: rgb(69, 48, 114) !important;
    border: none !important;
}
.singtop {
    padding-top: 150px;
} */
/* .Right-Side {
    
    background-color: rgba(22, 4, 48, 1);
    
}

.Right-Side2 {
    margin-top: 15%;
   
}
.fw-bold2 {
    text-align: center;
    font-size: 56px;
    font-weight: 700;
}
.Right-Side2img {
    text-align: center;
}
/* .signin-page {
    height: 100%;
} */
/* 
.backtohome {
    display: flex;
    justify-content: end;
    padding: 15px 0;
}
.backtohome svg {
    font-size: 30px;
    color: #fff;
    
}
.backtohome svg:hover {
    color:#c36 ;
    
}
@media only screen and (max-width: 420px) {

    .fw-bold2 {
        font-size: 40px
    }
  }  */


  .signin-page {
    min-height: 100vh;
    background-color: rgb(69, 48, 114);
}

.signin-box {
    background: white;
    max-width: 900px;
    margin: auto;
    overflow: hidden;

}

.backtohome{
    display: flex;
    background-color: transparent;
    justify-content: end;
}
.backtohome svg{
  font-size: 30px;
}
.backtohome svg:hover{
    color: #c36;
    
  }

.Right-Side {
    background-color: rgba(22, 4, 48, 1);

}

.Right-Side2 {
    text-align: center;
    height: 100%;
}

.Right-Side2img img {
    max-width: 120px;
}

.input-group-text {
    color: white;
}
.fw-bold2 {
    font-size: 50px;
}
a {
    color: #1a75ff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

::placeholder {
    color: white !important;
    opacity: 1;
    /* Ensures full visibility */
}

input:-ms-input-placeholder {
    /* Internet Explorer */
    color: white !important;
}

input::-ms-input-placeholder {
    /* Microsoft Edge */
    color: white !important;
}
