/* .singbgg {
    background-color: rgb(69, 48, 114) !important;
    
    
}
.singbgg:hover {
    background-color: rgb(69, 48, 114) !important;
    border: none !important;
}
.singtop {
    padding-top: 150px;
} */
/* .Right-Side {
    
    background-color: rgba(22, 4, 48, 1);
    
}

.Right-Side2 {
    margin-top: 15%;
   
}
.fw-bold2 {
    text-align: center;
    font-size: 56px;
    font-weight: 700;
}
.Right-Side2img {
    text-align: center;
}
/* .signin-page {
    height: 100%;
} */
/* 
.backtohome {
    display: flex;
    justify-content: end;
    padding: 15px 0;
}
.backtohome svg {
    font-size: 30px;
    color: #fff;
    
}
.backtohome svg:hover {
    color:#c36 ;
    
}
@media only screen and (max-width: 420px) {

    .fw-bold2 {
        font-size: 40px
    }
  }  */


.signin-page {
    min-height: 100vh;
    background-color: rgb(69, 48, 114);
}

.signin-box {
    background: white;

    margin: auto;
    overflow: hidden;

}

.backtohome {
    display: flex;
    background-color: transparent;
    justify-content: end;
    
    
}


.backtohome:hover {
    background-color: #c36;
    border: none;
    
}
.nonee {
    text-decoration: none !important;
    padding: 50px;
}
/* .backtohome svg:hover {
    color: #c36;

} */

.Right-Side {
    background-color: rgba(22, 4, 48, 1);

}

.Right-Side2 {
    text-align: center;
    height: 100%;
    padding: 0 8%;
}



.input-group-text {
    color: white;

    height: 55px;
}

.fw-bold2 {
    font-size: 50px;
}

a {
    color: #1a75ff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

::placeholder {
    color: white !important;
    opacity: 1;
    /* Ensures full visibility */
}

input:-ms-input-placeholder {
    /* Internet Explorer */
    color: white !important;
}

input::-ms-input-placeholder {
    /* Microsoft Edge */
    color: white !important;
}

.login-toggle2 {
    width: 100px;
    font-size: 18px;
    font-weight: 700;
}

.fullwidth {
    width: 100vw;
}

.formControl {
    height: 55px;
    padding-left: 20px;
    background-color: #201a46 !important;
    color: #fff !important;


}

.buttongroup {
    width: 58% !important;
    padding-bottom: 3rem !important;
    
}

.sing-up-button {
    height: 55px;
    font-size: 18px;
    font-weight: 700;
}

.formgroup {
    color: #c36;
    background-color: transparent !important;
}

.react-datepicker-wrapper {
    width: 100%;
}
.Right-Side2img {
    padding-top: 40px;
}